/* components/Header.module.css */

.header {
  background-color: #1a1a1a;
  color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSection {
  display: flex;
  align-items: center;
}

.logoSection {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo {
  width: 80px; /* Adjust the size as needed */
}

.titleSection {
  display: flex;
  flex-direction: column;
}

.titleSection h1 {
  margin: 0;
  font-size: 20px; /* Adjusted font size */
}

.titleSection p {
  margin: 0;
  font-size: 14px; /* Adjusted font size */
}

.rightSection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 40px; /* Added margin to create space between sections */
}

.mission, .vision {
  margin-left: 20px; /* Adjust margin as needed */
  text-align: left;
  max-width: 300px;
}

.mission h2, .vision h2 {
  color: #e74c3c;
  margin: 0;
  font-size: 18px;
}

.mission p, .vision p {
  margin: 0;
  font-size: 14px;
}

.featuredLinks {
  margin-top: 20px;
}

.featuredLinks h2 {
  color: #e74c3c;
  margin-bottom: 10px;
  font-size: 24px;
}

.linkCards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px; /* Set gap between cards to 24px */
}

.linkCard {
  flex: 1; /* Ensure cards have equal width */
  max-width: calc(100% / 6 - 24px); /* Adjust width based on number of cards and gap */
  height: 150px;
  background-color: #333;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}

.linkCard:hover {
  background-color: #444;
}

.linkCard span {
  color: #ffffff;
  font-size: 16px;
  position: absolute;
  bottom: 10px;
}

.linkCard img {
  width: 80%;
  height: auto;
}
