.linkCards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px; /* Set gap between cards to 24px */
}

.linkCard {
  flex: 1; /* Ensure cards have equal width */
  max-width: calc(100% / 6 - 24px); /* Adjust width based on number of cards and gap */
  height: 150px;
  background-color: #333;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}

.linkCard:hover {
  background-color: #444;
}

.linkCard span {
  color: #ffffff;
  font-size: 16px;
  position: absolute;
  bottom: 10px;
}

.linkCard img {
  width: 80%;
  height: auto;
}
